<div class="p-4">
  <h2>Stupid Coaching</h2>
  <p class="mt-4">Post your question here!</p>
  <form action="/answer" method="get" class="form-group">
    <input type="text" name="question" class="form-control">
    <input type="submit" value="Ask!" class="btn btn-primary mt-4">
  </form>
  </div>
